.App {
  text-align: center;
  height: 100vh; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative; 
}

.logo-container {
  flex-grow: 1; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 500px;
}

/* Initial Button Style */
.order-button {
  padding: 15px 40px;
  font-size: 1.5rem;
  background-color: #D32329;
  color: white;
  border: none;
  border-radius: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute; 
  left: 50%;
  transform: translate(-50%, 0);
  top: 50%; 
  width: 200px; 
  height: 50px; 
  transition: top 1s ease-in-out, width 1s ease-in-out; /* Smooth transitions for both vertical and horizontal movements */
}

/* Button text and arrow */
.order-button .button-text {
  display: inline-block;
}

.order-button .arrow-icon {
  margin-left: 10px;
  border: 2px solid white;
  padding: 5px;
  border-radius: 50%;
}

/* Hover effect for the button */
.order-button:hover {
  background-color: #B71C1C;
  transform: translate(-50%, 0) scale(1.05);
}

/* Input field transformation style */
.order-input {
  padding: 15px;
  font-size: 1.5rem;
  width: 200px; 
  height: 50px; 
  max-width: 600px;
  border-radius: 50px;
  border: 2px solid #D32329;
  text-align: center; 
  color: white; 
  background-color: #D32329; 
  outline: none;
  transition: width 1s ease-in-out;
}

/* Match the size of the button during the transformation */
.order-button.transform .order-input {
  width: 600px;
  height: 50px; 
  transition: width 1s ease-in-out; 
}

/* Button transformation to expand horizontally */
.order-button.transform {
  width: 600px; 
  height: 50px; 
  top: calc(100vh - 120px); 
  transform: translate(-50%, 0);
  transition: top 1s ease-in-out, width 1s ease-in-out; 
}

/* Placeholder text styling */
.order-input::placeholder {
  color: #FFFFFF;
  text-align: center;
  opacity: 1; 
}

/* Hide text and arrow during transformation */
.order-button.transform .button-text,
.order-button.transform .arrow-icon {
  display: none; 
}
