.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  position: relative; 
}

.MainPage{
  max-width: 70%;
  width: 70%;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.menu-container {
  padding-bottom: 2%;
}

.logo-container {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 200px;
}

/* Input container to hold input and arrow */
.input-container {
  position:absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px; 
  height: 30px;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  transition: top 1s ease-in-out, width 1s ease-in-out; 
}

.input-container.transform {
  width: 600px; /* Expands the input animation part */
  top: calc(100vh - 125px); /* Moves the input to the bottom animation part */
  transform: translate(-50%, 0); 
}

.order-input {
  padding: 15px 40px;
  font-size: 15px;
  background-color: #D32329;
  color: white;
  border: none;
  border-radius: 35px;
  width: 100%; 
  height: 25px; /* Allows the input to grow */
  max-height: 100px; /* Set the maximum height before scrolling kicks in */
  text-align: center; 
  cursor: pointer; 
  transition: top 1s ease-in-out, width 1s ease-in-out; 
  resize: none; /* Prevent manual resizing */
  overflow-y: auto; /* Adds scrolling once the input reaches max-height */
  scrollbar-width: thin;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: -10px;
  padding-bottom: -10px;
}

.order-input.initial {
  font-size: 15px;
  top: 50%; 
  left: 50%; 
}

.order-input.transform {
  font-size: 15px;
  text-align: left; 
  cursor: text;
  outline: none; 
  height: 25px;
  max-height: 150px; 
  overflow-y: auto; 
  
}

/* Circular arrow icon styling */
.arrow-icon {
  position: absolute;
  right: 15px;
  width: 30px;
  height: 30px;
  border: 2px solid white; /* Circular border */
  border-radius: 50%; 
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 2px;
  cursor: pointer;
}

.arrow-icon::before {
  content: "";
  display: block;
  margin-left: 5px;
  padding-right: 1px;
  margin-right: 2px;
  width: 12px; /* Length of the arrow shaft */
  height: 2px; /* Thickness of the shaft */
  background-color: white;
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%); 
}

.arrow-icon::after {
  content: "";
  cursor: pointer;
  display: block;
  width: 8px;
  height: 8px;
  margin-right: 2px;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%) rotate(315deg); 
}

.input-container.transform .arrow-icon {
  margin-right: 2px;
  transform: rotate(-90deg); 
  transition: transform 1s ease; 
}

.order-input::placeholder {
  color: white;
  opacity: 1;
  text-align: left;
}


textarea{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

