.chat-container {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  overflow: scroll;
  scroll-behavior: smooth;
  height: 55vh;
}

.chat {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.message.user {
  display: flex;
  flex-direction: row-reverse;
  margin-left: 55%; 
  position: relative; 
}

.message.bot {
  display: flex;
  flex-direction: row;
  margin-right: 55%; 
  position: relative; 
}

.response {
  padding: 10px;
  border-radius: 15px;
  max-width: 90%; 
  word-wrap: break-word; 
  position: relative;
}


.message.user .response {
  color: white;
  background-color: #D32329;
  border-radius: 15px 15px 0 15px; 
  position: relative; 
}

.message.user .response::after {
  content: '';
  position: absolute;
  right: -10px; /* Tail position left/right */
  top: calc(100% - 7px); /* Tail position up and down */
  width: 0;
  height: 0;
  border-width: 5px 0 2px 10px; /* Tail dimensions */
  border-style: solid;
  border-color: transparent transparent transparent #D32329; /* Right-facing arrow */
}

.message.bot .response {
  background-color: #dfdfdf; 
  color: black;
  border-radius: 15px 15px 15px 0; 
  position: relative; 
}

.message.bot .response::before {
  content: '';
  position: absolute;
  left: -10px; /* Tail position left/right */
  top: calc(100% - 7px); /* Tail position up and down */
  width: 0;
  height: 0;
  border-width: 2px 10px 5px 0; /* Tail dimensions */
  border-style: solid;
  border-color: transparent #dfdfdf transparent transparent; /* Left-facing arrow */
}

.icon {
  width: 50px;
}