* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.MainPage {
  max-width: 70%;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.top-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; 
  position: relative; 
  height: 70px; 
  margin-bottom:15px;
  margin-top:15%;
}

.menu-container {
  position: absolute;
  top: 25%;
  left: -100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: #D32329;
  border: none;
  border-radius: 35px;
  height: 50px;
  width: 130px;
  padding-left: 15px;
}

.menu-button {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

.phone-icon {
  width: 45px;
}


.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.logo {
  width: 200px;
}


.input-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  flex-grow: 1;
  transition: flex-grow 1.5s ease-in;
  margin-bottom: 20px;
}

.input-container.transform {
  flex-grow: 0;
}

.order-input {
  padding: 15px 35px;
  font-size: 15px;
  background-color: #D32329;
  border: none;
  border-radius: 35px;
  width: 200px;
  max-width: 60%;
  resize: none; 
  overflow-y: auto; 
  color: white;
  cursor: pointer;
  min-height: 25px;
  max-height: 150px; 
  box-sizing: border-box; 
  transition: width 1.6s ease-in, height 0.2s ease; 
}


.order-input::placeholder {
  color: white; 
}

.order-input.initial {
  text-align: center;
  overflow-y: auto;
  scrollbar-width: thin;
  scroll-padding: -20px;
}

.order-input.transform {
  height: initial;
  text-align: left;
  cursor: text;
  outline: none;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 87%;
}

.arrow-icon {
  position: absolute;
  right: 15px;
  bottom: 10px;
  width: 30px;
  height: 30px;
  border: 2px solid white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 1s ease;
}

.arrow-icon::before {
  content: "";
  display: block;
  width: 12px;
  height: 2px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
}

.arrow-icon::after {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%) rotate(315deg);
}

/* .input-wrapper.transform .arrow-icon {
  transform: rotate(-90deg);
} */

textarea::-webkit-scrollbar {
  width: 6px;
}

textarea::-webkit-scrollbar-thumb {
  background-color: rgb(169, 169, 169);
}
